{% extends 'admin/change_form.html' %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tag.editor.js"></script>
<script type="text/javascript">
$(function(){
    $.getJSON("/api/tags/?referer=" + window.location.pathname,
        function(data){
            var tagdata = new Array();
            $.each(data, function(i,item){
                tagdata.push(item.name);
            });
            var tageditor = $("#tag-input").tagEditor({
                items: tagdata,
                initialParse: false,
                completeOnSeparator: true,
                completeOnBlur: true
            });
            $('#{{ opts.module_name }}_form').bind("submit", function(){
                $.ajax({url: "/api/tags/?referer=" + window.location.pathname, data: {'tags':tageditor.getTags()}})
                return true;
            })
        });
});
</script>
<style>
.tagEditor {
    margin-left:0;
    padding-left: 0;
    margin:4px 0;
    padding:0;
}
.tagEditor li {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    background-color:#EEEEFF;
    background-image:url(minus_small.png);
    background-position:right center;
    background-repeat:no-repeat;
    cursor:pointer;
    display:inline;
    list-style-type:none;
    margin:0 4px;
    padding:0 18px 0 6px;
    font-size: 18px;
}
.tagEditor li:hover {
    background-color:#EEEEEE;
}
</style>
{% endblock %}

{% block after_field_sets %}
<fieldset class="module aligned collapse">
    <h2>Tags</h2>
    <div class="form-row" id="tags">
        <label for="tag-input">Add tag:</label>
        <input id="tag-input" type="text" />
        <p class="help">Comma separated list of tags.</p>
    </div>
</fieldset>

{% endblock %}